//THEME COLORS
$light: #f3f3f3;
$dark: #212121;
$jsTheme: linear-gradient(to bottom right, rgb(219, 179, 0), rgb(255, 228, 77));
$cssTheme: linear-gradient(to bottom right, rgb(27, 132, 202), rgb(78, 169, 243));
$htmlTheme: linear-gradient(to bottom right, rgb(204, 59, 54), rgb(235, 129, 67));
$reactTheme: linear-gradient(to bottom right, rgb(37, 161, 192), rgb(98, 217, 238));
$unknownTheme: linear-gradient(to bottom right, rgb(138, 137, 137), rgb(193, 190, 190));

$listHeaderBGColor: rgb(24, 173, 148);
$listHeaderButtonColor: rgb(246, 224, 24);
$listHeaderButtonHoverColor: rgb(234, 157, 50);
