@use "./styles/" as *;

.app-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  @media (max-width: 650px) {
    flex-direction: column;
  }
}

body {
  font-size: $font-size;
  width: 100vw;
  min-height: 100vh;
}
