@use "./styles/" as *;

body {
  font-size: $font-size;
  width: 100vw;
  min-height: 100vh;
}

.app-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  @media (max-width: 720px) {
    flex-direction: column;
    h1 {
      width: 100%;
      font-size: 24px;
    }
  }
  @media (max-width: 300px) {
    h1 {
      font-size: 18px;
    }
  }
  h1 {
    width: 100vw;
  }
}
